<EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <div class="mainDiv">
            <fieldset disabled="@Disabled">
                <div class="form-group">
                    <label>Model:</label>
                    <div>
                        <InputText @bind-Value="@model.Name" class="form-control" />
                        <ValidationMessage For="@(() => model.Name)" />
                    </div>
                </div>
                <br />
                <hr />
            </fieldset>
            @if (!Disabled)
            {
                <button type="submit" class="btn btn-success btn-block" title="@ButtonText">
                    @ButtonText
                </button>
            }
            <BackToList Target="models" ListName="Models" />
            <br />
        </div>
        <br />
    </div>
</EditForm>

